@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: #ffffff;
}

/* a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #4530c3;
    padding: 10px;
} */


*{
    box-sizing: border-box;
}


.main{
   height:100vh; 
   background-image:url('../images/bg.png');
   background-position: bottom;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.menu
{
    display: flex;
}

.menu a{
    color: #4a5057;
    font-size: 46px;
    margin: 0 15px;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
}

.menu img{
    height: 18px;
}


.sign-in{
    width: 100px;
    height: 35px;
    border-radius:10px;
    border:  1px solid#3d3d3e;
    color: #3d3d3e;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    box-shadow:  2px 2px 6px rgba(0,0,0,0.1);
    font-family: 'Nanum Brush Script', cursive;
}

.sign-in:hover{
    background-color:#4530c3;
    color: #ffffff;
    transition: all ease 0.3s;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 12px 60px;
    box-shadow: 2px 6px 30px rgba(0,0,0,0.1);
}

.box
{
    width: 220px;
    height: 310px;
    border-radius: 5px;
    box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
    background-color: #f6f6f6;
    margin: 30px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.box-img01
{
    background-image: url('../images/slider1.PNG');
}

.box-img02
{
    background-image: url('../images/slider2.PNG');
}

.box-img03
{
    background-image: url('../images/slider3.PNG');
}

.box-img04
{
    background-image: url('../images/slider4.PNG');
}

.box-img05
{
    background-image: url('../images/slider5.PNG');
}

.box-img06
{
    background-image: url('../images/slider6.PNG');
}

.box-img07
{
    background-image: url('../images/slider7.PNG');
}

.box-img08
{
    background-image: url('../images/slider8.PNG');
}


.graphic
{
    position: absolute;
    left: 30px;
    bottom: 3%;
    width: 300px;
    font-family: 'Stalemate', cursive;
}

.g-heading{
    display: flex;
    align-items: center;
}

.g-details{
    font-size: 14px;
    margin: 0px 0 !important;
    color: #3d3d3e;
}

.g-heading p{
   font-weight: bold;
   font-size: 20px;
   color: #3d3d3e;
   margin: 0 10px;
   line-height: 5px;
}


.read_m
{
    cursor: pointer;
    color:blue;
}


footer{
    background-color: #353745;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-icons a{
    width: 35px;
    height: 35px;
    color: #424356;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: flex;
}


.copyright{
    font-family: calibri;
    font-size: 12px;
    margin: 10px;
    text-align: center;
    color: #b3b3b3;
}


.social-icons i{
    color: #ffffff;
    font-size: 14px;
}


.social-icons a:hover{
    background-color: #4530c3;
    transition: all ease;
    color: #ffffff;
    border-radius:10px;
}

.social-icons a:i{
    color: #424356;
}

@media (max-width:1024px){
    
}


@media(max-width:720px){
    .menu a{
        margin: 0px 10px;
        font-size: 14px;
    }

    .sign-in{
        height: 33px;
        width: 80px;
        font-size: 12px;
    }

}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Nanum Brush Script', cursive;
}
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 11.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }